<!DOCTYPE html>
<html>
<head>
    <title>Login</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            background: linear-gradient(to right, #4facfe, #00f2fe);
            height: 100vh;
        }
        .login-card {
            border-radius: 15px;
            padding: 30px;
        }
    </style>
</head>

<body>

<div class="container d-flex flex-column justify-content-center align-items-center" style="height:100vh;">
    
    <!-- Heading -->
    <h1 class="text-white mb-4">Society Management System</h1>

    <div class="card login-card shadow" style="width: 350px;">
        
        <h4 class="text-center mb-3">Login</h4>

        {% if error %}
            <div class="alert alert-danger">{{ error }}</div>
        {% endif %}

        <form method="POST">
            
            <div class="mb-3">
                <input type="text" class="form-control" name="username" placeholder="Username" required>
            </div>

            <div class="mb-3">
                <input type="password" class="form-control" name="password" placeholder="Password" required>
            </div>

            <button type="submit" class="btn btn-primary w-100">Login</button>
        </form>

        <hr>

        <small class="text-muted text-center d-block">
            Admin: admin / admin123 <br>
            Member: member / member123
        </small>

    </div>

</div>

</body>
</html>